# Zależności do developmentu/testów. Wersje z uv.lock.
-r requirements.txt
pytest==9.1.1
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
pygments==2.20.0
colorama==0.4.6; sys_platform == "win32"
# Tylko do testów: xlrd wyłącznie czyta, xlwt pozwala WYTWORZYĆ .xls.
xlwt==1.3.0
